{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Trustworthy AI | About</title>

	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- For about Slider-->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" /> <!-- Owl-Carousel-CSS -->
	<!-- //For about -->

	<!-- css files -->
	<link rel="icon" type="image/png"  href="{% static 'assets/img/icon_s.png' %}">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.css' %}"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link
		href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext"
		rel="stylesheet">
	<!-- //web-fonts -->

</head>

<body>

	<!--Header-->
	<header>
		<div class="container agile-banner_nav">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">

					<a class="navbar-brand" href="{% static '../index' %}"><span class="display">BlockChain technology boosting</span>Trustworthy AI </a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
									
								<a class="nav-link" href="{% static '../index' %}">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% static '../services' %}">Services</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% static '../login' %}">Login</a>
							</li>					
							<li class="nav-item">
								<a class="nav-link" href="{% static '../contact' %}">Contact</a>
							</li>
							<li class="nav-item active">
									<a class="nav-link" href="{% static '../about' %}">About</a>
								</li>
						</ul>
					</div>

			</nav>
		</div>
	</header>
	<!--Header-->

	<!-- inner page banner-->
	<div class="inner-banner"  style="background: url('/static/assets/img/banner1.jpg')">

	</div>
	<!-- //inner page banner-->

	<!-- About us -->

	<section class="about py-5 my-lg-5">
			<div class="container">
				<h3 class="heading text-center text-capitalize mb-5">Who we are</h3>
				<div class="spldishes-agileinfo">
					<div class="spldishes-grids">
						Not sure yet
						
					</div>  
					<div class="clearfix"> </div>
				</div>
			</div>
		</section>
	<!-- //About us -->

	<!-- help -->
	<section class="help">
		<div class="layer py-5">
			<div class="container py-lg-5">
				<h3 class="heading text-center text-capitalize mb-5">We help you in </h3>
				<div class="row help_grids">
					<div class="col-sm-4">
						<div class="row">
							<div class="col-lg-3 mb-lg-0 mb-4 icon">
								<i class="fas fa-briefcase"></i>
							</div>
							<div class="col-lg-9">
								<h4 class="text-uppercase mb-3">Business</h4>
								<p class="mb-3">Help you to achieve your goal and earn money, find more business value.</p>
								<a href="#">Read More <i class="fas fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 mt-sm-0 mt-4">
						<div class="row">
							<div class="col-lg-3 mb-lg-0 mb-4 icon">
								<i class="fas fa-signal"></i>
							</div>
							<div class="col-lg-9">
								<h4 class="text-uppercase mb-3">Strategy</h4>
								<p class="mb-3">Planning for the system, why we  did this and what we shall do next.</p>
								<a href="#">Read More <i class="fas fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 mt-sm-0 mt-4">
						<div class="row">
							<div class="col-lg-3 mb-lg-0 mb-4 icon">
								<i class="fab fa-connectdevelop"></i>
							</div>
							<div class="col-lg-9">
								<h4 class="text-uppercase mb-3">Technology</h4>
								<p class="mb-3">Exploring more technology in the new area, tell us your idea, we help you to achieve it.</p>
								<a href="#">Read More <i class="fas fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //help -->

	<!-- about top -->
{% comment %} 	<section class="about-top py-5 my-lg-5">
		<div class="container">
			<h3 class="heading text-center text-capitalize mb-5">Checkout Our Project on Bitbucket</h3>
			<div class="row top-grids">
				<div class="col-lg-4">
					<h4 class="mb-4 text-capitalize">See your code on bitbucket to find more detail about our system.</h4>
					<a href="https://bitbucket.org/sup3rsonic/blokchain_ai_uts/src/master/">Download file <i class="fas fa-download"></i></a>
				</div>
				<div class="col-lg-5 my-lg-0 my-5">
					<p>This coding is combined with the previous working and improved by Alex Zhuge, directed by Jianlong Zhou, PhD. 
					You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img src="{% static 'assets/img/slide1.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</section> {% endcomment %}
	<!-- //about top -->

	<!-- project -->
	<section class="project py-5 text-center">
			<div class="container">
				<h3 class="text-capitalize mb-md-5 mb-4">Do you want to start a new project ?</h3>
				<a href="{% static '../contact' %}" class="text-uppercase"><i class="fas fa-envelope-open"></i> contact us </a>
			</div>
		</section>
	<!-- //project -->

	<!-- footer -->
	<footer>
			<div class="container py-5">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<h3 class="text-uppercase mb-3">Address</h3>
						<address>
								<p><strong>Headquarters:</strong></p>
								<p class="mb-3">Building 11 University of Technology Sydney 81, Broadway, Ultimo NSW 2007</p>
								<p><strong>Phone</strong> : +61 434 450 149</p>
								<p><strong>Email</strong> : <a href="mailto:xianfeng19971117@gmail.com">xianfeng19971117@gmail.com</a></p>
							</address>
					</div>
					<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
						<h3 class="text-uppercase mb-3">links</h3>
						<div class="links">
							<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Navigation</a>
							<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Documentation</a>
							<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Business</a>
							<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Technical support</a>
							<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> 24/7 Service</a>
							<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Feedback</a>
						</div>	
					</div>
					<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
						<h3 class="text-uppercase mb-3">Recent posts</h3>
						<div class="posts">
								<p class="pt-2">Updated Interface
								<span class="font-italic">13rd June, 2019.</span></p>
								<p class="py-2 my-2 middle">Optimized data analysis
								<span class="font-italic">10th June, 2019.</span></p>
								<p class="pt-2">Updated user relationship
								<span class="font-italic">8th June, 2019.</span></p>
							</div>
					</div>
					<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
						<h3 class="text-uppercase mb-3">Newsletter</h3>
						<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
						<form action="#" method="post">
							<input type="email" name="Email" placeholder="Enter your email..." required="">
							<button class="btn1"><i class="far fa-envelope"></i></button>
							<div class="clearfix"> </div>
						</form>
					</div>
				</div>
			</div>
		</footer>
	<!-- footer -->



	<!-- js-scripts -->

	<!-- js -->
	<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->

	<!-- Owl-Carousel-JavaScript -->
	<script src="{% static 'assets/js/owl.carousel.js' %}"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({
				items: 3,
				lazyLoad: true,
				autoPlay: true,
				pagination: true,
			});
		});
	</script>
	<!-- //Owl-Carousel-JavaScript -->

	<!-- start-smoth-scrolling -->
	<script src="{% static 'assets/js/SmoothScroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->

	<!-- //js-scripts -->

</body>

</html>